<div class="container mt-5">
 <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <% if @address.errors.any? %>
        <%= @address.errors.count %>件のエラーが発生しました
        <% @address.errors.full_messages.each do |message| %>
         <div>
          <li><%= message %></li>
         </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11">
      <span class="px-3 h4 bg-light text-dark">配送先編集</span>
    </div>
  </div>
 <%= form_with model: @address, url: address_update_path, local:true do |f| %>
  <div class="row mt-4">
   <div class="col-lg-3">
     <div class="ml-3">郵便番号(ハイフンなし)</div>
   </div>
   <div class="col-lg-7">
     <%= f.text_field :postal_code %>
   </div>
   <div class="col-lg-2">
   </div>
  </div>
  <div class="row mt-2">
   <div class="col-lg-3">
     <div class="ml-3">住所</div>
   </div>
   <div class="col-lg-9">
     <%= f.text_field :address, class: 'w-75' %>
   </div>
  </div>
  <div class="row mt-2">
   <div class="col-lg-3">
     <div class="ml-3">宛名</div>
   </div>
   <div class="col-lg-6">
     <%= f.text_field :name %>
   </div>
   <div class="col-lg-3">
     <span class="ml-5"><%= f.submit '変更内容を保存', class: 'btn btn-success btn-sm' %></div>
   </div>
  </div>
<% end %>
</div>